In [1241]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [1242]:
df = pd.read_csv("../data/attacks.csv",sep=',' ,encoding= 'latin_1')
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1243]:
df = df.dropna(axis=0, how="all")
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1244]:
df[(df["Case Number"] == "0") & (~df["original order"].isnull())]
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1245]:
df[df["Case Number"] == "0"].count()
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1246]:
## Take away all Casue numbers that have a "0". As the data is not needed
df = df[df["Case Number"]!= "0"]

In [1247]:
## Take away all Case numbers that have a "xx". As the data is not needed
df = df[df["Case Number"] != "xx"]

In [1248]:
df[df["Case Number"] == "0"].count()

Case Number               0
Date                      0
Year                      0
Type                      0
Country                   0
Area                      0
Location                  0
Activity                  0
Name                      0
Sex                       0
Age                       0
Injury                    0
Fatal (Y/N)               0
Time                      0
Species                   0
Investigator or Source    0
pdf                       0
href formula              0
href                      0
Case Number.1             0
Case Number.2             0
original order            0
Unnamed: 22               0
Unnamed: 23               0
dtype: int64

In [1249]:
df[df["Case Number"].isnull()].count()

Case Number               0
Date                      1
Year                      1
Type                      1
Country                   1
Area                      1
Location                  1
Activity                  1
Name                      1
Sex                       1
Age                       0
Injury                    1
Fatal (Y/N)               1
Time                      0
Species                   0
Investigator or Source    1
pdf                       1
href formula              1
href                      1
Case Number.1             1
Case Number.2             1
original order            1
Unnamed: 22               0
Unnamed: 23               0
dtype: int64

In [1250]:
set_type = set(df["Type"])
set_type

{'Boat',
 'Boating',
 'Boatomg',
 'Invalid',
 'Provoked',
 'Questionable',
 'Sea Disaster',
 'Unprovoked',
 nan}

In [1251]:
df["Type"] = df["Type"].replace("Boatomg", "Boating")
df["Type"] = df["Type"].replace("Boating", "Boat")
df["Type"] = df["Type"].replace("Sea Disaster", "Unprovoked")

In [1252]:
set_type = set(df["Type"])
set_type

{'Boat', 'Invalid', 'Provoked', 'Questionable', 'Unprovoked', nan}

In [1253]:
set_unnamed = df["Unnamed: 23"]
set_unnamed

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6297    NaN
6298    NaN
6299    NaN
6300    NaN
6301    NaN
Name: Unnamed: 23, Length: 6302, dtype: object

In [1254]:
df.drop(columns=["Unnamed: 23", "Unnamed: 22"], inplace=True)

In [1255]:
set_casenumber = set(df["Case Number.1"])
set_casenumber

{'2004.05.23.a',
 '1987.12.17',
 '2011.10.28.R',
 '2009.07.31',
 '1961.04.30',
 '1965.09.21',
 '1971.10.02',
 '1912.02.03',
 '1974.04.04',
 '1955.05.00',
 '1946.12.28',
 '1962.02.05',
 'ND.0075',
 '1968.07.10',
 '1989.08.22.a',
 '1860.08.01',
 '1956.02.26',
 '1963.07.00',
 '2014.06.01.b',
 '1637.00.00.R',
 '2018.04.19',
 '1999.11.30',
 '1849.06.08.b',
 '1861.03.00',
 '2006.01.11',
 '2001.05.23 ',
 '1985.11.11',
 '1997.10.24',
 '1967.03.12',
 '1998.01.28.a',
 '1985.01.16',
 '1926.00.00.c',
 '1975.03.00',
 '1890.00.00.c',
 '1997.06.09',
 '2006.04.13',
 '1882.01.05.R',
 '2001.09.18',
 '1783.03.02',
 '1920.01.24.R.b',
 '2011.08.17.c.',
 '2006.08.00.a',
 '2005.10.03',
 '2011.09.28.a',
 '1912.07.23',
 '1860.03.11',
 '2012.10.27',
 '1968.04.29',
 '1961.03.09',
 '2001.09.30.a',
 '2004.06.26.b',
 '1982.00.00.c',
 '1930.04.08',
 '1888.12.09',
 '1916.11.15',
 '1959.09.00',
 '1888.01.22',
 '1877.00.00',
 '1939.07.16',
 '2017.07.07.R',
 '1911.07.16.R',
 '1895.04.23',
 '1997.08.10',
 '2008.07.24.a',
 '1978.01.17',
 '2017.09.15.a',
 '1969.08.02',
 '2005.01.20',
 '2006.11.25',
 '1982.06.26.b',
 '1984.02.17',
 '1986.07.09',
 '1996.12.00.b',
 '1968.02.26',
 '1890.06.26',
 '1962.08.00.b',
 '1977.03.17',
 '1991.10.12',
 '1946.01.07',
 '2017.09.06.R',
 '2012.10.18.a',
 '2009.09.15',
 '1958.10.00.a',
 '1929.12.16',
 '1996.09.01.b',
 'ND.0003',
 '2013.09.01.a',
 '1962.08.26',
 '1958.12.27',
 '2014.05.01',
 '1994.10.05',
 '2002.09.13',
 '1941.08.01',
 '1914.07.08.R',
 '2005.10.06',
 '1959.03.08',
 '1826.08.28',
 '1979.11.12',
 '1999.07.26',
 '1956.08.01',
 '2010.08.08',
 '1966.06.04',
 '1930.08.31',
 '2016.06.25',
 '2008.07.26.b',
 '1975.07.30.a',
 '1975.07.26.b',
 '1998.01.28.R ',
 '2005.09.11',
 '1915.03.29',
 '2011.08.31',
 '2015.08.18.b',
 '1956.08.00.d',
 '1975.12.02',
 '1836.07.26.R',
 '1970.01.23.c',
 '1937.02.11',
 '1908.05.13',
 '1960.02.24',
 '2005.10.01',
 '1999.06.12',
 '1929.01.14',
 '2007.06.30.b',
 '2015.08.18.a',
 '1974.09.14',
 '1967.12.21.R',
 '1858.08.17',
 '1937.01.27',
 '1986.10.01',
 '2011.06.15',
 '1758.00.00',
 '2016.07.26',
 '1950.00.00.a',
 '1925.05.00',
 '2004.04.04',
 '1992.09.18',
 '2009.11.24',
 '1891.01.08.R',
 '1700.00.00.c',
 '2006.01.28.R',
 '2000.09.25',
 '1943.07.00.b',
 '2017.09.03.a',
 '1863.09.13.R',
 '2011.06.19.b',
 '2010.10.02.a',
 '1992.04.09',
 '1967.07.29',
 '1959.12.19.a',
 '1830.04.30',
 '2010.07.03',
 '1895.09.00',
 '1980.03.15',
 '1968.02.02',
 '1882.00.00.a',
 '1940.00.00.b',
 '2001.04.28',
 '1942.09.12.b',
 '1983.06.00',
 '1991.01.00',
 '1837.09.03',
 '1995.04.09.b',
 '1991.08.26',
 '1971.00.00.c',
 '1899.10.12.b',
 '1879.03.10',
 '1961.01.02.R',
 '2018.06.09',
 '1964.06.02',
 '1972.02.20',
 '2010.01.05',
 '2008.12.27.d',
 '1942.03.08',
 '1937.03.26',
 '2007.03.21',
 '1926.04.07',
 'ND.0052',
 '2013.05.14',
 '2015.10.17.b',
 '1907.12.21',
 '1966.10.30',
 '2010.01.22.b',
 '2016.09.15.R',
 '1989.07.14',
 '1928.01.21.a',
 '1964.07.10',
 '2009.01.18',
 '1951.11.28.b',
 '2008.07.26.a',
 '1979.05.00.b',
 '2018.02.15',
 '1950.00.00.h',
 '1999.12.31.c',
 '1954.02.27',
 '1997.07.17',
 '1999.11.15',
 '1952.05.07.R',
 '2010.11.27',
 '1932.02.13',
 '2013.08.17',
 '1967/07.05',
 '2010.09.06.R',
 '1959.10.00',
 '1988.10.00',
 '2011.10.20',
 '2004.10.09.a',
 '2003.02.11',
 '1906.09.27.R.a',
 '1892.03.25.R',
 '1972.06.10',
 '1994.05.24',
 '1965.06.09',
 '2017.01.13.a',
 '1958.00.00.a',
 '2008.11.09.b',
 '1971.07.26',
 '1939.04.12.R',
 '1890.08.17.R',
 '1954.10.02.b',
 '1863.00.00.R',
 '1958.11.07.R',
 '1899.09.11.R',
 '1950.00.00.e',
 '1943.09.23',
 '1928.04.06',
 '1927.05.09.R',
 '1961.05.17',
 '1864.01.02',
 '2003.11.06.b',
 '1912.08.30',
 '2013.06.30',
 '1924.07.14',
 '1909.09.04.R',
 'ND-0116',
 '2006.07.08.a',
 '1999.03.14.a',
 '1936.06.26',
 'ND.0044',
 '1909.07.15',
 '1956.06.22',
 '1980.10.17',
 '2007.01.25.b',
 '1868.01.04.R',
 '1864.08.00',
 '2001.08.25',
 '2007.09.05',
 '2006.08.20.a',
 '1981.02.16',
 '1963.04.12',
 '1951.12.21',
 '1972.04.01.b',
 '2002.12.01',
 '1992.07.23',
 '1924.02.08',
 '1966.12.26',
 '1950.02.11',
 '1930.05.11',
 '2016.10.30',
 '1995.01.24',
 '1996.05.28',
 '2016.07.28',
 '1954.04.00',
 '2017.01.21',
 '2013.08.31.b',
 '2010.07.25',
 '2007.08.19.b',
 '1852.08.00',
 '2007.11.08',
 '2001.09.30.b',
 '1848.07.17.R',
 '1972.03.21',
 '1937.02.04',
 '1943.08.00',
 '1939.09.27.R',
 '1937.10.27.a',
 '1958.07.00.b',
 '1918.09.19',
 '1957.10.24',
 '2009.03.01.b',
 '1905.04.06',
 '2002.01.30.a',
 '1882.09.00',
 '1953.04.07',
 '1942.11.25',
 '1933.01.04',
 '1900.07.31',
 '1988.06.09',
 '1982.00.00.a',
 '1987.11.21',
 '2012.09.24',
 '1961.03.30',
 '1849.06.08.a',
 '1827.00.00',
 '2002.07.26',
 '1959.07.00.b',
 '2005.06.27',
 '2017.05.30',
 '1956.03.04',
 '1943.12.12',
 '1984.03.17',
 '2014.07.20',
 '2013.04.17',
 '1936.12.15',
 '1930.12.25',
 '1998.05.30',
 'ND.0016',
 '1971.09.05',
 '1974.08.16.c',
 '1910.11.24',
 '1907.02.05',
 '2011.09.02',
 '2003.06.08',
 '1942.00.00.j',
 '1907.10.12',
 '1955.10.16',
 '2009.05.25',
 '2015.03.18',
 '2012.09.06.a',
 '1947.11.08.b',
 '2002.08.05',
 '1980.04.25',
 '1953.03.00.c',
 '1975.07.30.b',
 '2007.12.07',
 '1991.07.00',
 '2014.12.28.b',
 '1957.04.07.b',
 '1907.10.16.R',
 '2015.05.15',
 '2005.06.25',
 '1981.08.07',
 '1878.09.14.R',
 '2000.02.03',
 '1998.01.14',
 '2018.04.15.c',
 '2011.06.30',
 '2010.10.25',
 '1982.07.19',
 '2001.01.24.R',
 '1959.12.19.b',
 '2008.04.08',
 '1924.04.20',
 '2011.01.26',
 '1959.08.12',
 '2004.04.05',
 '2011.12.21.b',
 '2007.05.07.a',
 '1942.06.11.R',
 '1937.10.27.b',
 '1963.12.21',
 '2012.06.20',
 '1989.01.26.a',
 '2006.01.01',
 '2016.07.16.b',
 '1815.10.00',
 '2001.08.19.c',
 '1969.09.06',
 '2014.04.24',
 '2018.05.00',
 '1956.07.28',
 '1999.06.17',
 '1959.11.22',
 '2014.11.10',
 '1903.05.04',
 '1989.11.02',
 '1981.03.04',
 '1999.09.05',
 '1960.05.24',
 '1902.01.25.R',
 '1956.08.15.R',
 '2017.06.14.R',
 '1970.00.00.d',
 '2012.08.31',
 '1960.12.01',
 '1894.06.25',
 '2003.09.19',
 '1976.09.17',
 '1976.11.27',
 '1891.09.14.R',
 'ND-0133',
 '1984.02.18',
 '1964.01.22',
 '1955.00.00.f',
 '2010.11.14',
 '2018.04.09',
 '1976.12.29',
 '1989.11.12',
 '1980.10.27',
 '2010.08.02.a',
 '2015.11.10',
 '1994.05.23',
 '1858.01.14.R',
 '1992.08.21',
 '1976.01.08',
 '2015.01.08',
 '1931.08.06.R',
 '2007.12.15',
 '1968.09.15',
 '2011.08.28.b',
 '1982.08.29.c',
 '1853.00.00.c',
 '1947.11.00',
 '1940.00.00.e',
 '1940.00.00.c',
 '2014.04.12.R',
 '1957.00.00.f',
 '2008.03.15',
 '1959.00.00.b',
 '2003.04.11',
 '1995.00.00.d',
 '1992.05.22',
 '1895.11.16',
 'ND.0081',
 '1936.01.22',
 '1899.06.02',
 '1960.04.14',
 '1924.01.19',
 '2014.08.28',
 '1949.00.00.a',
 '2008.12.27.a',
 '1933.05.23',
 '2008.09.01',
 '2006.06.05',
 '2008.12.20',
 '1976.07.16',
 '1901.07.30',
 '1941.07.01',
 '1905.07.02',
 '2009.12.12',
 '2007.05.09.R',
 '1935.04.25',
 '2014.06.27.R',
 '1965.05.00.b',
 '1940.06.30',
 '1983.04.19',
 '1903.07.00',
 '1930.09.12.R',
 '1915.11.10',
 '1959.02.01',
 '1937.11.11',
 '2003.10.05.e',
 '2009.12.29',
 '1997.08.05',
 '2016.05.18',
 '1959.12.28',
 '1938.03.08',
 '2010.04.19',
 '2004.03.29',
 '1998.05.16.c',
 '1994.04.03',
 '2008.04.25',
 '1987.01.28',
 '1960.01.26',
 '1998.06.08',
 '2008.04.20.b',
 '1926.09.06.R',
 '1996.09.06.a',
 '1948.06.06.R',
 '1961.07.07.b',
 '2009.09.01',
 '2004.07.25',
 '1883.12.19',
 '2013.07.29.b',
 '2013.07.11',
 '2009.01.26.R',
 '2003.10.05.b',
 '1858.04.04',
 '1982.09.04',
 '2007.04.22',
 '1993.08.19.R',
 '2005.07.17.a',
 '1962.07.07',
 '2018.01.13',
 '2002.11.00.a',
 '1927.01.20',
 '1954.10.06',
 '1958.01.19',
 '1952.00.00.a',
 '1998.04.21',
 '1993.00.00.d',
 '1957.10.23',
 '2004.08.21',
 '2008.06.07',
 '2003.12.13.a',
 '1895.11.21.R',
 '1998.09.22',
 '1949.04.17',
 '1931.08.18',
 '2014.06.01.c',
 '1999.12.31.b',
 '1855.04.09.R',
 '1996.12.29',
 '1973.04.04',
 '1919.03.16',
 '1889.07.21',
 'ND.0043',
 '1899.08.23.R',
 '2008.04.26.b',
 '2011.09.11.b',
 '2015.01.27',
 '1996.06.06',
 '1943.00.00.f',
 '1925.03.12',
 '2014.04.12',
 '2015.02.08',
 '2011.10.29.',
 '1981.02.00',
 '1942.09.12.a',
 '1999.03.18.R',
 '1990.03.24',
 '1964.07.16',
 '1960.08.22',
 '1993.11.21',
 '1992.11.05.b',
 '1852.10.09.R',
 '1850.00.00',
 '1937.02.02',
 '1932.08.30.a',
 '1975.11.19.b',
 '2001.09.13',
 '1991.02.12',
 '1989.01.20.a',
 '2002.03.15.b',
 '2014.10.11',
 '1931.06.04.R',
 '2008.06.21',
 '2009.01.27.R',
 '1945.09.16',
 '1925.03.27',
 '1993.01.02',
 '1967.10.17',
 '1958.04.30',
 '2001.08.18.b',
 '2001.08.19.a',
 '1970.00.00.f',
 '1952.12.21',
 '0005.00.00',
 '1986.01.12',
 '1992.01.00',
 '1938.00.00.b',
 '1880.01.03',
 '1904.02.04',
 '2012.09.16',
 '2012.07.08',
 '1992.06.28.a',
 '1957.00.00.g',
 '1983.08.13.b',
 '1981.02.02',
 '1971.01.02',
 '2018.06.25',
 '2017.10.26',
 '1923.00.00.c',
 '1969.07.27',
 '1928.02.20',
 '1974.01.09',
 '1992.11.23',
 '2017.09.02.b',
 '1862.12.04',
 '1996.09.01.a',
 '1940.01.29',
 '1929.04.11',
 '1999.07.06',
 '1944.01.20',
 'ND.0049',
 '2001.09.03.b',
 '1937.08.16',
 '1956.08.15.a',
 '2011.10.19',
 '1987.11.00',
 '2004.07.27.a',
 '1922.03.20',
 '0000.0493',
 '1970.04.00.a',
 '1910.03.31',
 '1555.00.00',
 '1986.10.17',
 '1994.12.10',
 '1916.08.24',
 '2015.11.15.a',
 '1992.02.09',
 '2003.01.03',
 '1927.12.28',
 '1894.07.15.R',
 '1995.08.10.b',
 '1917.12.15',
 '2009.05.06',
 '1981.09.03.a',
 '1935.03.11',
 '2011.03.21.b',
 '1994.03.23.b',
 '2005.11.02.b',
 '1934.03.12',
 '1806.04.24',
 '1998.11.11',
 '2002.01.30.b',
 '1961.08.20',
 '1995.08.31.a',
 '2015.10.05.a',
 '2010.04.28',
 '1892.00.00',
 '1973.12.25',
 '2000.01.28.R',
 '1929.02.09',
 '1923.12.02',
 '2003.04.09',
 '1999.08.24',
 '2004.03.16',
 '1916.11.09',
 '2018.04.15.a',
 '1989.03.04',
 '1962.08.30.b',
 '1933.08.26.R',
 '2011.12.07.b',
 '2002.03.25.a',
 '1965.12.10',
 '2012.10.30',
 '2011.08.24.b',
 '1949.00.00.d',
 '1986.02.07',
 '1868.00.00.b',
 '1981.09.27',
 '2014.10.20',
 '1991.09.08',
 '2011.10.02',
 '1840.02.00',
 '2014.11.19',
 '2003.04.15',
 '2017.06.17',
 '1930.03.07.R',
 '2012.03.22',
 '1957.08.00',
 '2010.06.25.b',
 '1944.04.00',
 '1997.07.12',
 '1961.04.17',
 '1913.05.21',
 '2006.07.29.b',
 '1945.07.00',
 '1893.05.23.R',
 '2006.02.23',
 '1902.12.22.R',
 '2016.10.01',
 '2000.08.30',
 '1961.07.16',
 '1913.09.21',
 '2006.07.09.a',
 '1908.09.21',
 '1984.11.08',
 '2009.09.26',
 '2015.08.20',
 '2015.09.04',
 '1947.11.14.b',
 '2006.06.20',
 '1964.02.14.a',
 '1928.04.09',
 '1961.04.08',
 '1999.03.18.a',
 '2006.10.16',
 '2003.07.20',
 '2001.11.23',
 '2016.04.25',
 '1956.03.25',
 '1903.03.20.R',
 '1788.05.10',
 '2012.05.23',
 '2016.09.00',
 '1973.01.09',
 '1959.03.00',
 '1949.00.00.b',
 '1974.01.07.a',
 '1996.09.02.a',
 '1970.09.00.c',
 '1926.03.17',
 '2012.06.12',
 '2012.03.20',
 '1962.01.08',
 '2016.04.09',
 '2010.06.10',
 '1982.02.27',
 '2015.01.01',
 '2003.10.31.a',
 '2011.06.29',
 'ND.0028',
 '2000.09.15',
 '2015.06.25.R',
 '1900.00.00.b',
 '1803.03.00',
 '2015.03.26',
 '1986.09.22.R',
 '1942.06.08.R',
 '2011.07.05',
 '2002.09.21.b',
 '2017.06.10.a',
 '2009.04.11',
 '1961.05.21',
 'ND.0032',
 '2015.12.11',
 '1973.00.00.a',
 '1935.12.23',
 '1980.07.00',
 '1936.09.11.R',
 '2013.01.25',
 '2011.08.24.a',
 '1956.08.15.b',
 '1995.06.17.b',
 '2007.09.08',
 '2004.00.00',
 '1980.01.25',
 '1935.07.27.a',
 '1998.10.01.a',
 '2008.08.16',
 '2007.03.31.a',
 '1940.12.28',
 '1981.05.10',
 '1944.10.25.a',
 '2001.09.24',
 '2011.07.22',
 '1937.10.24.c',
 '1994.04.16',
 '1973.09.10.R',
 '1934.04.15',
 '2011.08.11',
 '2001.07.00',
 '1990.04.07',
 '1996.07.20',
 '2008.11.09.a',
 '1964.01.00',
 '1930.07.19',
 '1895.05.03',
 '1804.02.26.R',
 '1996.08.11',
 '1977.03.13.b',
 '1994.11.25.a',
 '1949.01.14',
 '2013.06.14.R',
 '2012.06.14.a',
 '2014.08.27.b',
 '2003.09.28',
 '2006.04.23.R',
 '2011.05.07.R',
 'ND-0135',
 '2013.11.22',
 '2007.01.23',
 '2001.08.18.c',
 '2006.03.23',
 '1960.04.22',
 '2002.03.15.a',
 '1967.09.07.a',
 '1895.00.00.b',
 '1992.10.01',
 '1941.11.27.b',
 '1991.05.19',
 '1887.10.00',
 '2000.08.13',
 '1942.07.12',
 '2010.06.06',
 '1899.05.28',
 '1995.08.31.b',
 '1923.07.02.R',
 '1864.01.27.R',
 '1987.05.06',
 '1960.08.10',
 'ND-0134',
 '2005.04.06',
 '1930.12.00',
 '2008.08.18',
 '2002.02.11',
 '1906.10.10.a.R',
 '1952.01.23',
 '2017.10.28',
 '1950.10.08',
 '2015.06.30.b',
 '1992.11.25.a',
 '1974.08.23',
 '2014.06.25',
 '1962.01.14.a',
 '1970.12.13',
 '1723.00.00',
 '2003.07.05.b',
 '1928.11.18',
 '1982.07.24.b',
 '2009.03.27',
 '1950.03.08',
 '1954.01.22.a',
 '1904.07.27',
 '1955.02.05',
 '2008.05.07.b',
 '1938.07.12',
 '1954.09.21',
 '2015.10.21',
 '1993.03.22',
 '2009.11.16.a',
 '1982.02.28',
 '1898.06.22',
 '2005.02.26',
 '1980.03.11',
 '1975.06.02.R',
 '1929.11.29',
 '2001.01.09',
 '1916.07.07',
 '1976.03.12.a',
 '2011.02.19',
 '2018.06.03.b',
 '2007.09.17',
 '1830.07.26',
 '2012.07.30.b',
 '2009.07.29',
 '2005.12.24',
 '2015.09.24',
 '1849.10.04',
 '1931.05.02',
 '1959.07.28',
 '2008.08.12',
 '2005.11.12',
 '1964.07.15',
 '1944.06.23',
 '2005.09.02.b',
 '2017.06.10.b',
 '2013.11.10',
 '1957.05.07',
 '1963.11.05.R',
 '2014.08.27.a',
 '2000.07.06',
 '2017.11.04',
 '1950.04.09.a',
 '1941.06.00',
 '2017.08.18',
 '1967.09.06',
 '2010.07.17.a',
 '2013.11.12',
 '2011.02.02',
 '2000.03.15',
 '1898.12.28.R',
 '2017.02.25',
 '1929.04.17.R',
 '1962.10.15',
 '2017.04.26',
 '2015.12.13',
 '2017.06.18.b',
 '1936.08.00',
 '1937.03.09',
 '1938.01.02',
 '2015.11.03',
 '1959.02.27',
 '1834.07.15.R',
 '1990.06.23',
 '1957.02.02',
 '2009.06.14.R',
 '2003.11.06.a',
 '1944.10.24',
 '1911.00.00.a',
 '2013.01.26',
 '1930.05.11.R',
 '1887.02.08.R',
 '1990.08.30',
 '1966.08.00.a',
 '1953.02.15',
 '1970.06.13.a',
 '1944.01.14',
 '1931.08.25',
 '2009.08.10',
 '1995.07.28.a',
 '2008.12.27.c',
 '1917.09.09',
 '2000.03.14',
 '1919.01.17',
 '1961.02.16',
 '2001.05.18',
 '2003.06.00',
 '2006.01.23',
 '1959.04.09..a',
 '1860.04.00.a',
 '1996.07.26',
 '2014.04.03',
 '1980.07.23',
 '1938.10.05',
 '2016.03.28.b',
 '1984.05.31',
 '1923.02.00',
 '1866.04.24.R',
 '1908.06.08',
 '1959.00.00.d',
 '1996.09.02.b',
 '1942.00.00.k',
 'ND.0090',
 '1989.07.20',
 '2006.09.16',
 '1995.06.30',
 '1995.09.30.a',
 '1983.08.13.a',
 '2016.09.11',
 '2012.07.07.b',
 '1955.08.00.a',
 '1997.05.17',
 '1988.10.11',
 '1994.07.09.c',
 '1962.08.31.R',
 '2016.12.24',
 '2014.08.05',
 '1971.07.19',
 '2015.03.11',
 '1966.09.18',
 '1970.09.13',
 '1932.11.09',
 '2002.02.23',
 '1986.12.31',
 '2006.08.13',
 '1942.12.26',
 '2011.09.04.b',
 '2001.08.16',
 '2017.06.02',
 '2011.07.13.b',
 '1928.11.04',
 '1872.11.30.R',
 '1968.11.04',
 '1961.00.00.d',
 '1999.10.01',
 '1995.08.07',
 '1981.11.30',
 '1935.05.19',
 '2011.01.20',
 '1861.09.25.R',
 '2008.07.23',
 '1883.09.14.R',
 '1989.10.22',
 '1974.01.07.c',
 '1995.07.03',
 '1964.07.00.b',
 '2013.12.10',
 '2009.12.20.b',
 '2001.10.07',
 '1970.10.00',
 '1920.06.27',
 '2000.05.07.a',
 '1961.03.12',
 'ND.0093',
 '1899.11.20',
 '1938.05.02.R',
 '2015.07.19',
 '2007.09.22.b',
 '2016.09.26',
 '1988.04.15a',
 '2001.04.02.b',
 '1964.01.27',
 '1947.04.00',
 '1944.07.22',
 '1919.05.29',
 '2014.10.31',
 '2003.02.15.b',
 '2008.12.00',
 '1888.02.17',
 '1963.02.04',
 '2010.08.18',
 '2004.10.30.a',
 '1903.01.10',
 '1975.03.09',
 '1918.00.00',
 '1967.11.00',
 '1927.00.00.a',
 '2013.06.16',
 '1970.01.23.b',
 '1977.08.14',
 '1955.02.00',
 '2016.09.17.b',
 '1995.08.19',
 '1846.08.20.R',
 '2007.08.26',
 '2016.09.06',
 '2015.06.25',
 '1993.01.23',
 '1971.00.00.a',
 '2016.12.11.b',
 '1934.06.21',
 '1980.08.10',
 '1934.12.23.a',
 '2002.06.16',
 '1985.09.05',
 '1934.08.05',
 '2009.06.02.b',
 '1989.09.10',
 '1977.05.16',
 '2011.05.10',
 '2012.09.08.a',
 '2002.05.07',
 '1962.07.20',
 '1968.03.10',
 '2000.03.03.R',
 '1989.01.08',
 '1987.05.25',
 '1960.00.00.f',
 'ND.0014',
 '2004.02.16',
 '2003.11.30.b',
 '1998.04.17',
 '2015.09.20.c',
 '1964.06.29.a',
 '1972.12.24',
 '2017.07.07',
 '2003.04.20.b',
 '1898.00.00.b',
 ...}

In [1256]:
nan_case_number_rows = df[df["Case Number"].isna()]
nan_case_number_rows

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
5488,NaN,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,...,N,NaN,NaN,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1905.09.06.R,1905.09.06.R,815.0

In [1257]:
df.loc[df["Case Number"].isna(), "Case Number"] = df["Case Number.1"]

In [1258]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [1259]:
df.drop(columns=["Case Number.1", "Case Number.2","href","href formula", "pdf", "Investigator or Source"], inplace=True)

In [1260]:
set_fatal = set(df["Fatal (Y/N)"])
set_fatal

{' N', '2017', 'M', 'N', 'N ', 'UNKNOWN', 'Y', nan, 'y'}

In [1261]:
replacement_dict = {
    ' N': 'N',
    'N ': 'N',
    'M': 'Unknown',
    '2017': 'Unknown',
    'y': 'Y',
    'UNKNOWN': 'Unknown',
    np.nan: 'Unknown'
}
df["Fatal (Y/N)"] = df["Fatal (Y/N)"].replace(replacement_dict)

In [1262]:
set_fatal = set(df["Fatal (Y/N)"])
set_fatal

{'N', 'Unknown', 'Y'}

In [1263]:
df["Year"] = df["Year"].astype(str)
pattern = r'^\d{4}\.\d$'
matching_rows = df["Year"].str.contains(pattern, na=False)
count_matching = np.sum(matching_rows)
count_matching

6172

In [1264]:
non_matching_rows = df[~df["Year"].str.contains(pattern, na=False)]
non_matching_rows

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,original order
187,2017.01.08.R,Reported 08-Jan-2017,nan,Invalid,AUSTRALIA,Queensland,NaN,Spearfishing,Kerry Daniel,M,35,"No attack, shark made a threat display",Unknown,NaN,Bull shark,6116.0
6079,1836.08.19.R,Reported 19-Aug-1836,nan,Unprovoked,ENGLAND,Cumberland,Whitehaven,Swimming,a boy,M,NaN,FATAL,Y,NaN,NaN,224.0
6174,0500.00.00,Circa 500 A.D.,500.0,Unprovoked,MEXICO,NaN,NaN,NaN,male,M,NaN,Foot severed,N,NaN,NaN,129.0
6175,0077.00.00,77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,NaN,FATAL,Y,NaN,NaN,128.0
6176,0005.00.00,Ca. 5 A.D.,5.0,Unprovoked,AUSTRALIA,New South Wales,Bondi,NaN,male,M,NaN,Aboriginal rock carving depicts man being atta...,N,NaN,NaN,127.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,2.0

In [1265]:
df.loc[matching_rows, "Year"] = df["Year"].str.replace('\.0', '', regex=True)

In [1266]:
df["original order"] = df["original order"].astype(str)

# Use regex to identify rows matching the pattern "xxxx.x" where x is not 0
non_zero_decimal_pattern = r'^\d+\.[1-9]$'
non_zero_decimal_rows = df["original order"].str.contains(non_zero_decimal_pattern, na=False)
set(non_zero_decimal_rows)
# As it gives us False, we know that we can delete all the patterns with ".0" and make it the index with the right order.

{False}

In [1267]:
df["original order"] = df["original order"].str.replace('\.0', '', regex=True)
df["original order"] = df["original order"].astype(int)
df.set_index("original order", inplace=True)
df.sort_index(inplace=True)

In [1268]:
df.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
original order,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN
3,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN
4,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN
5,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN
6,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN

In [1269]:
#expected_next = df.index[0]
#index_copy = df.index.tolist()
#for i, idx in enumerate(index_copy):
#    if idx != expected_next:
#        index_copy[i] = expected_next
#    expected_next += 1
#df.index = index_copy # type: ignore
#diff = df.index[0] - 1
#df.index = df.index - diff

In [1270]:
df.sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species
original order,,,,,,,,,,,,,,,
4711,2005.04.25,25-Apr-2005,2005,Provoked,AUSTRALIA,New South Wales,Bermagui,Fishing,male,M,25,Laceration on left thigh PROVOKED INCIDENT,N,23h00,"Mako shark, 1.5 m [5']"
5139,2009.01.24.c,24-Jan-2009,2009,Boat,NEW ZEALAND,North Island,Alderman Islands,Fishing,7.2 m boat. Occupant Kelvin Travers,NaN,NaN,"No injury to occupant, shark removed small aux...",N,19h00,NaN
1623,1943.03.14,14-Mar-1943,1943,Unprovoked,SIERRA LEONE,NaN,NaN,"The 21,516-ton troopship Empress of Canada tor...",NaN,NaN,NaN,"Of the 1346 on board, 392 perished including 9...",Y,NaN,NaN
3618,1989.04.23,23-Apr-1989,1989,Unprovoked,USA,Florida,"Loggerhead Park, Juno Beach, Palm Beach County",Swimming,Scott Scherger,M,19,Right calf bitten,N,NaN,1.2 m [4'] shark
5003,2007.12.21,21-Dec-2007,2007,Unprovoked,ECUADOR,Galapagos Islands,San Cristobal Island,Surfing,Sam Judd,M,24,Lacerations & puncture wounds to left thigh,N,NaN,3 m shark

In [1271]:
df.columns = df.columns.str.replace(' ', '_').str.lower().str.strip().str.rstrip('_')
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species'],
      dtype='object')

In [1272]:
def convert_to_int(value):
    try:
        return int(float(value))
    except ValueError:
        return value
df['year'] = df['year'].apply(convert_to_int)

In [1273]:
def convert_date(date_str):
    cleaned_date = ''.join(date_str.split(' ')[-2:])
    if cleaned_date.count('-') == 1:
        cleaned_date = '01-' + cleaned_date
        
    return pd.to_datetime(cleaned_date, format='%d-%b-%Y', errors='coerce')

df['cleaned_date'] = df['date'].apply(convert_date)

In [1274]:
date_idx = df.columns.get_loc('date')

ordered_cols = list(df.columns)
ordered_cols.insert(date_idx + 1, ordered_cols.pop(ordered_cols.index('cleaned_date')))

df = df[ordered_cols]

In [1275]:
df.tail(5)

,case_number,date,cleaned_date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species
original order,,,,,,,,,,,,,,,,
6299,2018.06.04,04-Jun-2018,2018-06-04,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"
6300,2018.06.08,08-Jun-2018,2018-06-08,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
6301,2018.06.09,09-Jun-2018,2018-06-09,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
6302,2018.06.18,18-Jun-2018,2018-06-18,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
6303,2018.06.25,25-Jun-2018,2018-06-25,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark

In [1276]:
df

,case_number,date,cleaned_date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species
original order,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,NaT,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN
3,ND.0002,1883-1889,NaT,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN
4,ND.0003,1900-1905,NaT,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN
5,ND.0004,Before 1903,NaT,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN
6,ND.0005,Before 1903,NaT,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,2018.06.04,04-Jun-2018,2018-06-04,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"
6300,2018.06.08,08-Jun-2018,2018-06-08,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
6301,2018.06.09,09-Jun-2018,2018-06-09,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
6302,2018.06.18,18-Jun-2018,2018-06-18,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
6303,2018.06.25,25-Jun-2018,2018-06-25,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark

In [1277]:
df

,case_number,date,cleaned_date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species
original order,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,NaT,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN
3,ND.0002,1883-1889,NaT,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN
4,ND.0003,1900-1905,NaT,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN
5,ND.0004,Before 1903,NaT,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN
6,ND.0005,Before 1903,NaT,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299,2018.06.04,04-Jun-2018,2018-06-04,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"
6300,2018.06.08,08-Jun-2018,2018-06-08,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
6301,2018.06.09,09-Jun-2018,2018-06-09,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
6302,2018.06.18,18-Jun-2018,2018-06-18,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
6303,2018.06.25,25-Jun-2018,2018-06-25,2018,Boat,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark

In [1280]:
set_country = set(df["age"])
set_country

{' ',
 '  ',
 ' 28',
 ' 30',
 ' 43',
 '"middle-age"',
 '"young"',
 '(adult)',
 '1',
 '10',
 '10 or 12',
 '11',
 '12',
 '12 or 13',
 '13',
 '13 or 14',
 '13 or 18',
 '14',
 '15',
 '16',
 '16 to 18',
 '17',
 '17 & 16',
 '17 & 35',
 '18',
 '18 months',
 '18 or 20',
 '18 to 22',
 '19',
 '2 to 3 months',
 '20',
 '20 ',
 '20?',
 '20s',
 '21',
 '21 & ?',
 '21 or 26',
 '21, 34,24 & 35',
 '22',
 '23',
 '23 & 20',
 '23 & 26',
 '24',
 '25',
 '25 or 28',
 '25 to 35',
 '26',
 '27',
 '28',
 '28 & 26',
 '28, 23 & 30',
 '29',
 '2½',
 '3',
 '30',
 '30 & 32',
 '30 or 36',
 '30s',
 '31',
 '31 or 33',
 '32',
 '32 & 30',
 '33',
 '33 & 26',
 '33 & 37',
 '33 or 37',
 '34',
 '34 & 19',
 '35',
 '36',
 '36 & 23',
 '36 & 26',
 '37',
 '37, 67, 35, 27,  ? & 27',
 '38',
 '39',
 '40',
 '40s',
 '41',
 '42',
 '43',
 '44',
 '45',
 '45 ',
 '46',
 '46 & 34',
 '47',
 '48',
 '49',
 '5',
 '50',
 '50 & 30',
 '50s',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '6',
 '60',
 "60's",
 '60s',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '6½',
 '7',
 '7      &    31',
 '7 or 8',
 '70',
 '71',
 '72',
 '73',
 '74',
 '74 ',
 '75',
 '77',
 '78',
 '8',
 '8 or 10',
 '81',
 '82',
 '84',
 '86',
 '87',
 '9',
 '9 & 12',
 '9 months',
 '9 or 10',
 '>50',
 '?    &   14',
 '? & 19',
 'A.M.',
 'Both 11',
 'Ca. 33',
 'Elderly',
 'F',
 'MAKE LINE GREEN',
 'Teen',
 'Teens',
 'X',
 'adult',
 'mid-20s',
 'mid-30s',
 nan,
 'teen',
 'young',
 '\xa0 '}

In [1279]:
df_Data_cleaned_reset = df.reset_index()
df_Data_cleaned_reset.to_csv("shark_attack_cleaned.csv", index=False)